/* src/pages/HomePage.css */

.home-container {
    display: flex;
    flex-direction: column; /* Stack the image and content */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding: 0;
    background-color: #ffffff;
    height: 90vh; /* Adjust if needed */
    position: relative; /* Allow content to overlay */
}

.home-image {
    width: 50%; /* Full width */
    height: 30%; /* Maintain aspect ratio */
    max-height: 90vh; /* Limit height to avoid overflow */
    object-fit: cover; /* Cover the entire area */
}

.home-content {
    z-index: 1; /* Bring content above the image */
    text-align: center; /* Center text */
    color: #333; /* Dark text for contrast */
    position: absolute; /* Positioning content over the image */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning */
}

.home-heading {
    margin-top: 4rem;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.home-subheading {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* Responsive design */
@media (max-width: 768px) {
    .home-heading {
        font-size: 2rem;
    }

    .home-subheading {
        font-size: 1rem;
    }

    .home-image {
        width: 80%; /* Reduce width on smaller screens */
    }
}
