* {
  font-family: 'Space Grotesk', sans-serif; /* Default font for all elements */
}

h1, h2{
  font-family: 'Space Grotesk', sans-serif; /* Apply Bradley Hand to headers and paragraphs */
}

h3, h4, h5, h6, p {
  font-family: 'Space Grotesk', sans-serif; /* Default font for all elements */
}
